.inputContainer {
    padding: 0.25em;
    background-color: var(--green-700);
    border-radius: 1.6em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.inputContainer input {
    border-radius: 1.6em;
    border-color: transparent;
    height: 100%;
    padding: 0.25em;
}

.inputContainer input:focus {
    outline: none;
}

.chevron {
    color: var(--white-900);
}