:root {
  --black-800: #222222;
  --green-100: #95FFC5;
  --green-300: #00FF79;
  --green-500: #5FC385;
  --green-600: #2FA676;
  --green-700: #11A64A;
  --white-900: #ffffff;
  --grey-700: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-open-sans);
  font-size: 1rem;
  font-weight: 400;
}