.thematicArea {
  display: flex;
  align-items: center;
  padding: 0.1em 0.6em;
  background-color: var(--green-100);
  border-radius: 16px;
  color: var(--green-600);
  font-size: 0.875rem;
  font-weight: 700;
}